@charset "utf-8";
html {margin:0;padding:0;border:0;}

body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,  blockquote, pre, a,  del, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,  caption{margin:0;padding:0;border:0;font-size:100%;font:inherit; }

body{font-size:12px; font-family: Arial, Helvetica, sans-serif,'宋体'; text-align:center; line-height:24px;}

ul,ol,dl{zoom:1;}

li{ list-style:none;vertical-align:bottom}

table, th, td {vertical-align:middle;}

a img {border:none;}

:focus {outline:0;}



/* common */

a{text-decoration:none}

.left, .sleft{ float:left}

.right, .sright{ float:right}

.center{ text-align:center}

.clear{ clear:both; height:1px; font-size:1px; line-height:1px}

.red{ color:#cc0000}

.green{ color:#7fc13d}
.orange{ color:#e5912d}
.blue{ color:#007cb9}
.red2{ color:#c0504e}

#main .greenmore{ color:#7fc13d}

#main .greenmore:hover{ color:#f26627}



.graybg{ background-color:#fbfbfb}

.graybg2{ background-color:#f6f6f6}

.whitebg{ background:#FFF}

.yellow{ color:#e5912d}


/*分页样式*/
.quotes {
    clear: both;
    text-align: center;
	line-height:30px;
	padding-top:30px;
}
.quotes ul li{
	display:inline;
}
.quotes li.disabled {
    border: 1px solid #E0E0E0;
    color: #666666;
    margin-right: 4px;
    padding: 4px 7px;
}
.quotes .thisclass a {
    background-color: #F0F0F0;
    border: 1px solid #E0E0E0;
    color: #333333;
    font-weight: bold;
    margin-right: 4px;
    padding: 4px 7px;
}
.quotes A {
    border: 1px solid #DDDDDD;
    color: #666666;
    margin-right: 4px;
    padding: 4px 7px;
    text-decoration: none;
}
.pageinfo {
    border: 1px solid #E0E0E0;
    color: #666666;
    margin-right: 4px;
    padding: 4px 7px;
}

/* 搜索分页 */
.dede_pages{
	height:33px;
	clear:both;
	overflow:hidden;
	background:#FAFAFA;
	margin-top:16px;
}
.dede_pages ul{
	float:left;
	padding:6px 0px 0px 16px;
}
.dede_pages ul li{
	float:left;
	font-family:Tahoma;
	line-height:17px;
	margin-right:6px;
}
.dede_pages ul li a{
	float:left;
	padding:2px 4px 2px;
	color:#666;
}
.dede_pages ul li a:hover{
	color:#690;
	text-decoration:none;
	padding:2px 4px 1px;
	background:#EEE;
}
.dede_pages ul li.thisclass a,.pagebox ul li.thisclass a:hover{
	color:#F63;
	padding:2px 4px 1px;
	border-bottom:1px solid #F63;
	font-weight:bold;
}
.dede_pages .pageinfo{
	float:right;
	line-height:21px;
	padding:7px 10px 3px 16px;
	color:#999;
}
.dede_pages .pageinfo strong{
	color:#666;
	font-weight:normal;
	margin:0px 2px;
}